@import '../../../shared/styles/colors.scss';
@import '../../../shared/styles/typography.scss';
@import '../../../shared/styles/radius.scss';

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-p3);
  margin-bottom: 8px;
}

.radioInput {
  display: none;
}

.radioCustom {
  width: 16px;
  height: 16px;
  border: 2px solid var(--border-primary);
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.radioInput:checked + .radioCustom {
  background-color: var(--purple-main);
  border-color: var(--purple-main);
}

.radioInput:checked + .radioCustom::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--white-main);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioInput:disabled + .radioCustom {
  background-color: var(--bg-disabled);
  border-color: var(--border-secondary);
}

.radioText {
  color: var(--text-primary);
}
