@import '../../../shared/styles/colors.scss';
@import '../../../shared/styles/typography.scss';
@import '../../../shared/styles/radius.scss';

.segmentControlWrapper {
  margin-bottom: var(--paragraph-spacing);
}

.label {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-p3);
  color: var(--text-primary);
  margin-bottom: 4px;
}

.segmentControl {
  display: flex;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-dropdown);
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.segmentOption {
  flex: 1;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-p3);
  color: var(--text-primary);
}

.segmentOption:hover {
  background-color: var(--bg-secondary-hover);
}

.segmentOption.active {
  background-color: var(--bg-accent);
  color: var(--white-main);
}

/* Variantes de taille */
.large {
  font-size: var(--font-size-h5);
  padding: 12px 16px;
}

.medium {
  font-size: var(--font-size-p3);
  padding: 10px 14px;
}

.small {
  font-size: var(--font-size-p7);
  padding: 8px 12px;
}

.xs {
  font-size: var(--font-size-p9);
  padding: 6px 10px;
}
