@import '../../../shared/styles/colors.scss';
@import '../../../shared/styles/typography.scss';
@import '../../../shared/styles/radius.scss';

.textareaWrapper {
  margin-bottom: var(--paragraph-spacing);
  display: flex;
  flex-direction: column;
}

.label {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-p3);
  color: var(--text-primary);
  margin-bottom: 4px;
}

.textarea {
  padding: 8px 12px;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-input);
  transition: border-color 0.3s ease;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-p3);
  color: var(--text-primary);
  background-color: var(--bg-primary);
  resize: vertical;
}

.textarea:hover:not(:disabled) {
  border-color: var(--border-focus);
}

.textarea:focus {
  border-color: var(--border-focus);
  outline: none;
}

.textarea.error {
  border-color: var(--bg-critical);
}

.helperText {
  font-size: var(--font-size-p7);
  color: var(--text-secondary);
  margin-top: 4px;
}

/* Variantes de taille */
.large {
  font-size: var(--font-size-p1);
  padding: 12px 16px;
}

.medium {
  font-size: var(--font-size-p3);
  padding: 8px 12px;
}

.small {
  font-size: var(--font-size-p5);
  padding: 6px 10px;
}
